$headerHeight: 74px;

.Header {
  background-color: #FFFFFF;
  border-color: #e7e7e7;
  height:  $headerHeight;

  .HeaderContainer, .NavBarHeader, .NavBar {
    height: 100%;
  }

  .NavBar {
    position: relative;
    top: 10px;
  }

  .Logo {
    position: relative;
    width: 106px;
    height: 30px;
    top: 4px;
  }
}