{
  "presets": ["es2015", "stage-3", "react"],
  "plugins": ['transform-decorators-legacy' ],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": ["transform-runtime", "transform-class-properties", "transform-object-rest-spread"]
    }
  }
}