{ 
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "semi": [2, "never"],
    "no-console": 0,
    "arrow-body-style": [0],
    "react/prop-types": [0],
    "max-len": [2, {"code": 200, "tabWidth": 2, "ignoreUrls": true}],
    "jsx-quotes": [2, "prefer-double"]
  },
  "plugins": [
    "react"
  ]
}