{ 
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "eol-last": 0,
    "no-unused-vars": 0
  },
  "plugins": [
    "react"
  ]
}