.Pricing {
  padding: 0;
  color: #000;
  background: #69bfd6;
  margin: 0;

  .Title {
    text-align: center;
    font-size: 34px;
    color: #FFF;
  }

  .Pricing_box {
    background-color: #FFF;
    margin: 40px auto;
    max-width: 350px;
    height: 500px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    position: relative;
    border-radius: 8px;
    padding: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }

  .Pricing_header {
    width: 100%;
    height: 180px;
    margin: 0px;
    text-align: center;
    padding-top: 66px;

    .Price_text {
      border: 0px solid black;
      width: 200px;
      margin: 0 auto;
      position: relative;

      .Currency {
        display: inline;
        position: absolute;
        font-size: 50px;
        color: #93A8B0;
        top: 17px;
        left: 26px;
      }

      .Amount {
        display: inline-block;
        font-size: 80px;
        font-weight: 500;
        color: #464646;
        position: relative;
        top: -7px;
      }
    }
  }

  .Pricing_body {
    width: 320px;
    margin-top: 0px;
    border: 0px solid black;
    text-align: left;
    padding: 0;
    margin-right: 0;

    .List {
      list-style: none;
    }
  }

  .Pricing_footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    border: 0px solid black;
    text-align: center;
  }
}