.SignIn {
  .Form {
    padding-top: 40px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center; 

    .Submit {
      margin-top: 20px;
      background-color: #337ab7;
      border-color: #3C6D96;
      display: block;
    }

    .PasswordForgotten {
      padding-top: 40px;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
  }
}